{% block content %}
{% load static %}

<div class="col-12 col-lg-6 mt-4">
    <div class="card pt-3">
        <!-- PIC IMAGE -->
        <img src="{% static pic.image.url %}" class="card-img-top mx-auto" style="height: auto; width: 300px"
            alt="pic{{pic.id}}">

        <!-- CARD BODY -->
        <div class="card-body p-3">

            <h5 class="h5 card-title text-muted">
                <a href="{% url 'users_app:detail' pic.user.username %}"
                    class='link-secondary text-decoration-none'>@{{pic.user.username}}</a>
                <small>
                    - {{pic.date_created}}
                </small>
            </h5>

            <p class="card-text">{{pic.caption}}</p>
        </div>

        <!-- CARD FOOTER -->
        <div class="card-footer d-flex justify-content-between">

            <div class="d-flex gap-2">
                <!-- If the current user created the pic, render the edit and delete buttons -->
                {% if request.user == pic.user %}
                <a href="{% url 'pics_app:update' pic.id %}" class='link-secondary'>
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'pics_app:delete' pic.id %}" class='link-secondary'>
                    <i class="far fa-trash-alt"></i>
                </a>
                {% endif %}
            </div>

            <!-- Render likes count & icon / detail view arrow -->
            <div class="d-flex gap-2">
                Likes:
                <span id="like-count-{{pic.id}}">{{ pic.likes.all.count }}</span>
                <!-- if the user is in the pics list of likes, render a red heart, otherwise render a heart outline -->
                {% if request.user in pic.likes.all %}
                    <i class="fas fa-heart my-auto text-danger like" id='like-{{pic.id}}'></i>
                {% else %}
                    <i class="far fa-heart my-auto like" id='like-{{pic.id}}'></i>
                {% endif %}

                <!-- show the detail view arrow if the pic card is rendered on a detail view /pics/<int:pic_id> -->
                {% if 'pics' not in request.path %}
                    <a href="{% url 'pics_app:detail' pic.id %}" class='link-secondary'>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock content %}