@use "src/variables";
@use "src/mixin";
@use "src/functions";

body {
    // background-color: lightgray;
    background-image: variables.$gradient-bottom;
    // min-height: 100vh;
    position: relative;
}

.main-head {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    background-color: variables.$coffee;
    // @include mixin.rectangle(10em, clamp(50vw, 100vw, 150%));
    @include mixin.flex(row, center, center);

    &-body {
        @include mixin.flex(row, center, space-evenly);
        width: 100vw;
        // height: 10vh;

        &-butts {
            // @include mixin.rectangle(6.5em, 5em);
            border-radius: 30px 30px;
            background-color: variables.$grullo;
            border: none;
            color: black;
            margin: 1em 0;
            text-align: center;
            cursor: pointer;
        }
    }
}

.main-body {
    display: grid;
    grid-template-columns: 10vw auto 10vw;
    grid-template-rows: auto auto auto 10vh;
    // min-height: 140vh;
    justify-content: center;

    &-hero {
        // Mobile consideration
        justify-self: center;
        grid-column-start: 2;
        grid-column-end: 3;
        width: 97%;
        @include mixin.flex(column, center, center);
        // @include mixin.rectangle(auto, 700px);
        margin-bottom: 1em;
        &-image {
            // Replace the garbage that is this picture
            background-image: url(../assets/images/prof-image.jpeg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            // border: 2px solid black;
            border-radius: 50% 50%;
            @include mixin.rectangle(18em, 18em);
            margin-bottom: 0.8em;
        }
        &-text-box {
            background-color: variables.$almond;
            // border: 2px solid black;
            justify-items: center;
            // margin: -2em;
            // padding: 3px 2em;
            width: 98%;
            border-radius: variables.$bd-size;
            p {
                padding: 0.6em;
            }
        }
    }

    &-card-section {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        @include mixin.flex(row, center, space-evenly);
        flex-wrap: wrap;
        border-radius: 15px;
        // border: black 2px solid;
        width: 80vw;
        margin-bottom: 1em;

        // Middle vertical card section
        &-card {
            @include mixin.flex(column, flex-start, center);
            margin: 2em 0;
            border-radius: variables.$bd-size;
            overflow: hidden;
            background-color: variables.$almond;

            // Backgorund image for card 1
            &-1-image {
                padding: 0;
                background-image: url("../assets/images/elec-eng.gif");
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden;
                display: block;
                width: 100%;
                max-height: 200px;
                object-position: center;
                aspect-ratio: 16 / 9;
                transition: 0.3s ease-in;
                &:hover {
                    transform: scale(1.025);
                }
            }
            &-1-info {
                color: darkmagenta;
                font-size: small;
                width: 80vw;
                position: relative;
                left: -1em;
                margin: 1em 0;
            }

            // Backgorund image for card 2
            &-2-image {
                padding: 0;
                background-image: url("../assets/images/agile.gif");
                background-size: contain;
                background-repeat: no-repeat;
                overflow: hidden;
                display: block;
                width: 100%;
                max-height: 200px;
                object-position: center;
                aspect-ratio: 16 / 9;
                transition: 0.3s ease-in;
                &:hover {
                    transform: scale(1.025);
                }
                &-2-info {
                    color: darkmagenta;
                    font-size: small;
                    width: 80vw;
                    position: relative;
                    left: -1em;
                    margin: 1em 0;
                }
            }

            // Backgorund image for card 3
            &-3-image {
                padding: 0;
                background-image: url("../assets/images/welding.gif");
                background-size: contain;
                background-repeat: no-repeat;
                overflow: hidden;
                display: block;
                width: 100%;
                max-height: 200px;
                object-position: center;
                aspect-ratio: 16 / 9;
                transition: 0.3s ease-in;
                &:hover {
                    transform: scale(1.025);
                }
            }
            &-3-info {
                color: darkmagenta;
                font-size: small;
                width: 80vw;
                position: relative;
                left: -1em;
                margin: 1em 0;
            }
        }
    }

    &-exp-cards {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;

        &-horz-card-1 {
            @include mixin.flex(column, center, center);
            margin-bottom: 1em;
            background-color: variables.$almond;

            &-1 {
                @include mixin.flex(column, center, center);
                &-image {
                    padding: 0;
                    background-image: url("../assets/images/pdx-codeguil.jpg");
                    // background-size: fit;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;
                    margin: 0 0.4em;
                    display: block;
                    width: 98vw;
                    max-height: 100vh;
                    object-position: center;
                    aspect-ratio: 16 / 9;
                    @include mixin.border-radius(variables.$bd-size, 0);
                    transition: 0.3s ease-in;
                    &:hover {
                        transform: scale(1.025);
                    }
                }
                &-info {
                    justify-content: flex-start;
                    color: darkmagenta;
                    font-size: small;
                    width: 80vw;
                    position: relative;
                    left: -3em;
                    margin: 0;
                }
            }
        }

        &-horz-card-2 {
            @include mixin.flex(column, center, center);
            background-color: variables.$coffee;
            margin-bottom: 1em;

            &-1 {
                @include mixin.flex(column, center, center);
                &-image {
                    padding: 0;
                    background-image: url("../assets/images/ASU-big.jpg");
                    // background-size: auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;
                    margin: 0 0.4em;
                    display: block;
                    width: 98vw;
                    max-height: 100vh;
                    object-position: center;
                    aspect-ratio: 16 / 9;
                    @include mixin.border-radius(variables.$bd-size, 0);
                    transition: 0.3s ease-in;
                    &:hover {
                        transform: scale(1.025);
                    }
                }
                &-info {
                    justify-content: flex-start;
                    color: darkmagenta;
                    font-size: small;
                    position: relative;
                    width: 100vw;
                    left: -1em;
                    margin: 0;
                }
            }
        }

        &-horz-card-3 {
            @include mixin.flex(column, center, center);
            background-color: variables.$coffee;

            &-1 {
                @include mixin.flex(column, center, center);
                &-image {
                    padding: 0;
                    background-image: url("../assets/images/USMC-machine-gun.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;
                    margin: 0 0.4em;
                    display: block;
                    width: 98vw;
                    max-height: 100vh;
                    object-position: center;
                    aspect-ratio: 16 / 9;
                    @include mixin.border-radius(variables.$bd-size, 0);
                    transition: 0.3s ease-in;
                    &:hover {
                        transform: scale(1.025);
                    }
                }
                &-info {
                    justify-content: flex-start;
                    color: darkmagenta;
                    font-size: small;
                    width: 100vw;
                    left: -1em;
                    position: relative;
                    margin: 0;
                }
            }
        }

        &-horz-card-4 {
            @include mixin.flex(column, center, center);
            background-color: variables.$coffee;

            &-1 {
                @include mixin.flex(column, center, center);
                &-image {
                    padding: 0;
                    background-image: url("../assets/images/Logo.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    overflow: hidden;
                    margin: 0 0.4em;
                    display: block;
                    width: 98vw;
                    max-height: 100vh;
                    object-position: center;
                    aspect-ratio: 16 / 9;
                    @include mixin.border-radius(variables.$bd-size, 0);
                    transition: 0.3s ease-in;
                    &:hover {
                        transform: scale(1.025);
                    }
                }
                &-info {
                    justify-content: flex-start;
                    color: darkmagenta;
                    font-size: small;
                    width: 100vw;
                    left: -1em;
                    position: relative;
                    margin: 0;
                }
            }
        }
    }
}

.main-footer {
    display: grid;
    position: relative;
    bottom: 0;
    left: -0.4em;
    // justify-content: center;
    align-content: end;
    &-container {
        @include mixin.flex(row, center, space-around);
        @include mixin.rectangle(10vh, 100vw);
        background-color: variables.$xanadu;
    }
}

// Independently produced class and then apply; bootstrap style
.card-shadow {
    border: none;
    border-radius: variables.$bd-size;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

// Large Screen Development
@media screen and (min-width: 1000px) {
    .main-head {
        @include mixin.rectangle(6em, clamp(50vw, 100vw, 150%));
    }
    .main-head-body-butts {
        @include mixin.rectangle(4em, 10em);
        // transition: background 0.4s ease-in-out;
        transition-duration: 0.4s;
        &:hover {
            opacity: 90%;
            transform: scale(1.035);
        }
    }
    .main-body {
        grid-template-columns: 190px auto 190px;
        &-hero {
            // Large Screen consideration
            justify-self: start;
        }
    }
    .text-box-width {
        width: 30em;
    }
    .main-body-exp-cards-horz-card-1-1 {
        @include mixin.flex(row, center, flex-start);
        &-image {
            width: 30%;
            max-height: 100vh;
            @include mixin.border-radius(variables.$bd-size);
        }
        /* &-info {
            // left: -36em;
        } */
    }
    .main-body-card-section-card-2-image {
        background-size: cover;
    }
    .main-body-exp-cards-horz-card-2-1 {
        @include mixin.flex(row, center, flex-start);
    }
    .main-body-exp-cards-horz-card-3-1 {
        @include mixin.flex(row, center, flex-start);
    }
}
