@import url('https://fonts.googleapis.com/css2?family=Redacted&family=Roboto&family=Source+Sans+3:wght@500&display=swap');

/* font-family: 'Redacted', cursive;

font-family: 'Roboto', sans-serif;

font-family: 'Source Sans 3', sans-serif; */

body {
    font-family: 'Source Sans 3', sans-serif;
}

button {
    padding: 2px;
    margin: 7px;
}

#complete-todos {
text-decoration: line-through;
}