{% extends 'base.html' %} 

{% block content %}
<h1 class="display">Register</h1>

<form action="{% url 'users:register' %}" method="POST" class="auth-form">
  {% csrf_token %}
  <label for="first-name-field">First Name</label>
  <input type="text" name="first-name" id="first-name-field" />
  
  <label for="last-name-field">Last Name</label>
  <input type="text" name="last-name" id="last-name-field" />

  <label for="username-field">Username</label>
  <input type="text" name="username" id="username-field" />
  
  <label for="email-field">Email</label>
  <input type="email" name="email" id="email-field" />
  
  <label for="password-field">Password</label>
  <input type="password" name="password" id="password-field" />
  
  <button type="submit">Submit</button>
</form>

{% endblock %}