body {
  color: white;
  background-color: black;
  min-height: 94vh;
  border: 10px solid red;
}
header {
  text-align: center;
  border: 4px solid red;
  margin: 1rem 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form input {
  margin: 0 4px 0;
  background-color: darkgrey;
}
button {
  color: white;
  background-color: black;
  border-color: red;
}
.quote {
  text-align: center;
  margin: 1rem;
}
.author {
  font-size: 10px;
}
