<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Document</title>
</head>

<body>
    <!-- MAIN HEAD -->
    <div class="main-head">
        <div class="main-head-container">
            <div class="main-head-container-item">
                <h1>BURRITO HUNTER</h1>
            </div>
        </div>
    </div>

    <!-- MAIN BODY -->
    <div class="main-body">
        <div class="main-body-top-left">
            <section class="main-body-top-left-form">
                <div class="main-body-top-left-form-name">
                    <label for="name">First Name:</label>
                    <input type="text" name="name" id="name" value="" tabindex="1">
                </div>
                <div class="main-body-top-left-form-radio-1">
                    <label for="white-flour">White Flour</label>
                    <input type="radio" name="white-flour" tabindex="2" value="White Flour">
                    <label for="wheat-flour"></label>
                    <input type="radio" name="wheat-flour" tabindex="3" value="Wheat Flour">
                    <label for="spinach"></label>
                    <input type="radio" name="spinach" tabindex="4" value="Spinach">
                    <label for="corn"></label>
                    <input type="radio" name="corn" tabindex="5" value="Corn">
                </div>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </section>
        </div>
        <div class="main-body-top-right">
            <section class="main-body-top-right-container">
                <div class="main-body-top-right-container-info">
                    <h2>MEAL OF THE DAY</h2>
                </div>
                <div class="main-body-top-right-container-img">
                    <!-- Burrito cloud image -->
                </div>
            </section>
        </div>
        <div class="main-body-lower">
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
        </div>
    </div>

    <!-- MAIN FOOTER -->
    <div class="main-footer">
        <div class="main-footer-left">
            <div class="main-footer-left-container">
                <div class="main-footer-left-container-text">
                    <h4>Christerpher Hunter</h4>
                    <h4>djhunter67@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="main-footer-right">
            <div class="main-footer-right-container">
                <div class="main-footer-right-container-blocks fb-image"></div>
                <div class="main-footer-right-container-blocks lk-image"></div>
                <div class="main-footer-right-container-blocks yt-image"></div>
                <div class="main-footer-right-container-blocks twt-image"></div>
            </div>
        </div>
    </div>
</body>

</html>