<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" /> -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Document</title>
</head>

<body>
    <!-- MAIN HEAD -->
    <div class="main-head">
        <div class="main-head-container">
            <div class="main-head-container-item">
                <h1>BURRITO HUNTER</h1>
            </div>
        </div>
    </div>

    <!-- MAIN BODY -->
    <div class="main-body">
        <div class="main-body-top-left">
            <section class="main-body-top-left-form">
                <form action="" method="post">
                    <div class="main-body-top-left-form-name">
                        <input type="text" name="f-name" placeholder="First Name" pattern="[a-z][A-Z]" tabindex="1">
                        <br>
                        <input type="text" name="l-name" placeholder="Last Name" pattern="[a-z][A-Z]" tabindex="1">
                        </div>
                        <div class="main-body-top-left-form-radio-1">
                        <p>Tortilla Type:</p>
                        <div>
                            <input type="radio" name="tortilla-type" tabindex="2" value="White Flour" checked>
                            <label for="white-flour">White Flour</label>
                        </div>
                        <div>
                            <input type="radio" name="tortilla-type" tabindex="3" value="Wheat Flour">
                            <label for="wheat-flour">Wheat Flour</label>
                        </div>
                        <div>
                            <input type="radio" name="tortilla-type" tabindex="4" value="Spinach">
                            <label for="spinach">Spinach</label>
                        </div>
                        <div>
                            <input type="radio" name="tortilla-type" tabindex="5" value="Corn">
                            <label for="corn">Corn</label>
                        </div>
                        </div>
                    <br>
                    <select name="additional-ingreds">Additional Ingredients
                        <option value="additional-ingreds">Cheese<input type="checkbox"></option>
                        <option value="additional-ingreds">Sour Cream<input type="checkbox"></option>
                    </select>
                    <br>
                    <textarea name="deliv-instr" cols="30" rows="10" placeholder="Delivery Instructions:"></textarea>
                    </form>
            </section>
        </div>
        <div class="main-body-top-right">
            <section class="main-body-top-right-container">
                <div class="main-body-top-right-container-info">
                    <h2>MEAL OF THE DAY</h2>
                </div>
                <div class="main-body-top-right-container-img">
                    <!-- Burrito cloud image -->
                </div>
            </section>
        </div>
        <div class="main-body-lower">
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
            <div class="main-body-lower-container">
                <div class="main-body-lower-container-img"></div>
            </div>
        </div>
    </div>

    <!-- MAIN FOOTER -->
    <div class="main-footer">
        <div class="main-footer-left">
            <div class="main-footer-left-container">
                <div class="main-footer-left-container-text">
                    <h4>Christerpher Hunter</h4>
                    <h4>djhunter67@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="main-footer-right">
            <div class="main-footer-right-container">
                <div class="main-footer-right-container-blocks fb-image"></div>
                <div class="main-footer-right-container-blocks lk-image"></div>
                <div class="main-footer-right-container-blocks yt-image"></div>
                <div class="main-footer-right-container-blocks twt-image"></div>
            </div>
        </div>
    </div>
</body>

</html>