

<!--
<div class="col-12 col-lg-6 mt-4">
<div class="card pt-3" style="min-width:600px;">
   <a href="" class=''>User Name: {{post.user.username}}</a>
   <br>
   <a>{{post.date_created}}</a>
   <br>
   <p class="card-text">{{post.comment}}</p>
   <br>
   <i class="fa fa-heart my-auto"> Follow</i>
   <br>
   <i class="fas fa-edit"> Edit</i>
   <br>
   <i class="far fa-trash-alt"> Trash</i>
   <br>
   <i class="fas fa-arrow-right"> More Details</i>
</div>
</div>

-->

{% block content %}
{% load static %}

          
      
           
           <div class="">
             
  
         
           <div class="desc">
            <a style="color:grey;">Created: {{post.title}}</a>
      
            
             
           </div>

    
 {% endblock content %}