
 <!--This lets you use your css file-->


<!DOCTYPE html>
<html>
    <head>
        {% load static %} 
        <meta charset="utf-8">
        <meta lang="en">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet"  type='text/css' href="{% static 'myapp/index.css' %}">

    </head>
    <body class='yellow lighten-3'>
        <div id='top-bar' class='light-blue lighten-5' "></div>

        
        <div class='container center-align'>

            {% block content %}



        
            {% endblock content %}




        </div>
        



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>









</html>