<!--To be used for the login and register view-->
{% extends 'myapp/base.html' %} <!--Had to put myapp/ before base.html-->

{% block content %}
    <h4 class='center-align'>Login</h4>

    <form class='center-align' action='' method="POST">
        <label class='light-blue-text lighten-4 left' for="Username">Username</label>
        <input type="text" name='Username'>

        <label class='light-blue-text lighten-4 left' for="Password">Password</label>
        <input type="text" name='Password'>


    </form>
    <p class='left'>
        Or&nbsp;
        <a class='deep-orange-text lighten-1' style="text-decoration: underline;" href="register">Click here to register</a>

    </p>

{% endblock content %}