{% extends 'myapp/base.html' %} <!--Had to put myapp/ before base.html-->

{% block content %}
    <h4 class='center-align'>Register</h4>
    
    <form class='center-align' action="{% url 'myapp:register' %}" method="POST">
        {% csrf_token %}
        <label class='light-blue-text lighten-4 left' for="Username">Username</label>
        <input type="text" name='Username'>

        <label class='light-blue-text lighten-4 left' for="Password">Password</label>
        <input type="text" name='Password'>

        <button type="submit">Register</button>


    </form>
    <p class='left'>
        Or&nbsp;
        <a class='deep-orange-text lighten-1' style="text-decoration: underline;" href="/">Click here to login</a>

    </p>

{% endblock content %}