/* Bulma Utilities */
.image {
  display: block;
  position: relative;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}
.image img.is-rounded {
  border-radius: 9999px;
}
.image.is-fullwidth {
  width: 100%;
}
.image.is-square img,
.image.is-square .has-ratio, .image.is-1by1 img,
.image.is-1by1 .has-ratio, .image.is-5by4 img,
.image.is-5by4 .has-ratio, .image.is-4by3 img,
.image.is-4by3 .has-ratio, .image.is-3by2 img,
.image.is-3by2 .has-ratio, .image.is-5by3 img,
.image.is-5by3 .has-ratio, .image.is-16by9 img,
.image.is-16by9 .has-ratio, .image.is-2by1 img,
.image.is-2by1 .has-ratio, .image.is-3by1 img,
.image.is-3by1 .has-ratio, .image.is-4by5 img,
.image.is-4by5 .has-ratio, .image.is-3by4 img,
.image.is-3by4 .has-ratio, .image.is-2by3 img,
.image.is-2by3 .has-ratio, .image.is-3by5 img,
.image.is-3by5 .has-ratio, .image.is-9by16 img,
.image.is-9by16 .has-ratio, .image.is-1by2 img,
.image.is-1by2 .has-ratio, .image.is-1by3 img,
.image.is-1by3 .has-ratio {
  height: 100%;
  width: 100%;
}
.image.is-square, .image.is-1by1 {
  padding-top: 100%;
}
.image.is-5by4 {
  padding-top: 80%;
}
.image.is-4by3 {
  padding-top: 75%;
}
.image.is-3by2 {
  padding-top: 66.6666%;
}
.image.is-5by3 {
  padding-top: 60%;
}
.image.is-16by9 {
  padding-top: 56.25%;
}
.image.is-2by1 {
  padding-top: 50%;
}
.image.is-3by1 {
  padding-top: 33.3333%;
}
.image.is-4by5 {
  padding-top: 125%;
}
.image.is-3by4 {
  padding-top: 133.3333%;
}
.image.is-2by3 {
  padding-top: 150%;
}
.image.is-3by5 {
  padding-top: 166.6666%;
}
.image.is-9by16 {
  padding-top: 177.7777%;
}
.image.is-1by2 {
  padding-top: 200%;
}
.image.is-1by3 {
  padding-top: 300%;
}
.image.is-16x16 {
  height: 16px;
  width: 16px;
}
.image.is-24x24 {
  height: 24px;
  width: 24px;
}
.image.is-32x32 {
  height: 32px;
  width: 32px;
}
.image.is-48x48 {
  height: 48px;
  width: 48px;
}
.image.is-64x64 {
  height: 64px;
  width: 64px;
}
.image.is-96x96 {
  height: 96px;
  width: 96px;
}
.image.is-128x128 {
  height: 128px;
  width: 128px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.top-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.3rem 1rem;
  font-size: smaller;
}

.low-header {
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.low-header-top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.6rem;
}
.low-header-top-container > figure {
  height: 44px;
  width: 44px;
}
.low-header-top-container > figure > img {
  height: 40px;
  width: 40px;
}
.low-header.-low-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.low-header input {
  background: none;
  width: 8rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body .center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body .center-box .mid-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main-body .center-box .mid-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-body .center-box .mid-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body .center-box .mid-3 .card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-body .center-box .mid-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-body .center-box .mid-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-body .center-box .mid-5 .bottom-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.low-footer {
  background-color: #0048bb;
  height: 10vh;
  width: 101%;
  position: relative;
  bottom: 0;
}
.low-footer-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.low-footer-left-container-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.low-footer-left-container-image-container #foot-text {
  margin: 0 0;
  font-size: 9pt;
  color: #fff;
}
.low-footer-left-container-image-container #sears-logo {
  height: 44px;
  width: 309px;
  padding-top: 2rem;
}
.low-footer-left-container-image-container #ase-cert-badge {
  height: 60px;
  width: 80px;
}
.low-footer-left-container-image-container #row-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.low-footer-left-container-image-container #row-links p {
  margin: 1.2rem 0.7rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 10pt;
}
.low-footer-left-container-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.3rem 0 0 0;
}
.low-footer-left-container-link-container #other-row-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.low-footer-left-container-link-container #other-row-links p {
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 10pt;
  margin: 0.4rem 1rem;
  padding: 0.5rem 0;
}
.low-footer-left-container-link-container #low-foot-foot-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.low-footer-left-container-link-container #low-foot-foot-section p {
  margin: 0.7rem 2rem;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  font-size: 9pt;
}/*# sourceMappingURL=index.css.map */