<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="lab5" content="width-device-width" , initialscale="1.0" />
        <meta lang="en" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel='stylesheet' type="text/css" href="{{url_for('static', filename='style.css') }}"/>
        <title>Flask Redo</title>
    </head>

    <body class='black'>
        <div id='main' class='container white'>
            <h1 id='top-header' class="center-align">Password Generator</h1>
            <form class='row white'>
                <div class="input-field col s4 offset-s1">
                    <label class='flow-text' for='uppercase-letters'>Number of UpperCase letters</label>
                    <input type="text" name="uppercase" id='uppercase-letters' >
                </div>
                <div class="input-field col s4 offset-s2">
                    <label class='flow-text' for='lowercase-letters'>Number of LowerCase letters</label>
                    <input type="text" name="lowercase" id='lowercase-letters' >
                </div>
                <div class="input-field col s4 offset-s1">
                    <label class='flow-text' for='punct-characters'>Number of Punctuation Characters</label>
                    <input type="text" name="punctuation" id='punct-characters' >
                </div>
                <div class="input-field col s4 offset-s2">
                    <label class='flow-text' for='numbers-characters'>Number Characters</label>
                    <input type="text" name="numbers" id='number-characters' >
                </div>
                




            </form>

        </div>























        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    </body>



</html>
