<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="lab5" content="width-device-width" , initialscale="1.0" />
        <meta lang="en" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel='stylesheet' type="text/css" href="{{url_for('static', filename='style.css') }}"/>
        <title>Flask Redo</title>
    </head>

    <body class='black'>
        <div id='main' class='container white'>
            <h1 id='top-header' class="center-align">Password Generator</h1>
            <div class='row white'>
                <div class="col s6">
                    <label for='num-chars'>Number of Characters</label>
                    <input type="text" name="characters" id='num-chars' >
                    
                </div>
                




            </div>

        </div>























        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    </body>



</html>
