{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Normalize-->
    <link rel="stylesheet" href="{% static 'normalize.css' %}"/>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <!--Theme-->
    <link rel="stylesheet" href="{% static 'theme.css' %}">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>

    <!-- BOOTSTRAP ICON CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <title>To-Do List</title>
  </head>
  <body class="bg-info">

    <div class="container bg-light rounded m-5 p-2 p-lg-5 mx-auto text-center">

        {% block content %}
        {% endblock %}
        
    </div>
    
  </body>
  <!-- Footer, Copyright, and Anchor Link to Top of Page -->
<footer class="p-5 bg-info text-dark position-relative">
    <div class="container text-center">
        <p class="lead">  Copyright &copy; 2021 Lee Colburn <br> (not really)
        </p>

    </div>
    </footer>
</html>