{% extends 'base.html' %}

{% block content %}
<h1 class="display-1">To-Do List</h1>

<!--Form for new todo item-->
<form action="{% url 'todo:create' %}" method='POST'>
      <!-- to prevent CSRF attacks -->
      {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" name="todo_text" class="form-control" placeholder="New To-do items here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-clipboard-plus"></i></button>
        </div>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="todo_priority" id="inlineRadio1" value='High'>
        <label class="form-check-label" for="inlineRadio1">High Priority</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="todo_priority" id="inlineRadio2" value='Medium' checked>
        <label class="form-check-label" for="inlineRadio2">Medium Priority</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="todo_priority" id="inlineRadio3" value='Low'>
        <label class="form-check-label" for="inlineRadio3">Low Priority</label>
    </div>
</form>


<!-- List of Active Todo Items -->
<div class="col-12 col-lg-6 offset-lg-3 my-3">
    <h1 class="display-4 bg-primary text-dark rounded p-3 text-center"><b>Open</b></h1>
    <ul class="list-group">
        {% for todo in all_todo_items.all %}
        {% if not todo.completed_date %}
        <li class="list-group-item d-inline-flex justify-content-between border-2 my-1">
        <p class="m-0"><b><a href="{% url 'todo:complete' todo.id %}"><i class="bi bi-check-circle"></i></a><a href="{% url 'todo:delete' todo.id %}"><i class="bi bi-x-circle mx-1"></i></a><element type="text" name="{ todo.id }"> {{ todo.todo_priority }} priority: {{ todo.todo_text }}</element></b> 
        </p>
        </li> 
        {% endif %}

        <!-- If there no todos in the list, render the %empty%-->
        {% empty %}
        <li class="list-group-item">
        <p class="lead text-muted m-0">-</p>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- List of Completed Todo Items -->
<div class="col-12 col-lg-6 offset-lg-3 my-3">
    <h1 class="display-4 bg-primary text-dark rounded p-3 text-center"><b>Completed</b></h1>
    <ul class="list-group">
        {% for todo in all_todo_items.all %}
        {% if todo.completed_date %}
        <li class="list-group-item d-inline-flex justify-content-between border-2 my-1">
        <p class="m-0 text-decoration-line-through text-muted"><a href="{% url 'todo:delete' todo.id %}"><i class="bi bi-x-circle mx-1"></i></a><b><element type="text" id="todoItem"></element>{{ todo.todo_text }}</b> 
        </p>
        </li> 
        {% endif %}

        <!-- If there no todos in the list, render the %empty%-->
        {% empty %}
        <li class="list-group-item">
        <p class="lead text-muted m-0">-</p>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}