

<!--ALL REQUESTS   /requests -->


{% extends "base.html" %}

{% block content %}
    <h1>All Requested Keys</h1>
{% if keyinstance_list %}
    <ul>
{% for keyinst in keyinstance_list %} 
      <li class="{% if keyinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'key-detail' keyinst.key.pk %}">{{keyinst.key.title}}</a>
<a>Requsted by user: </a> {% if user.is_staff %} 
{{ keyinst.borrower }}{% endif %} {% if perms.catalog.can_mark_returned %} ---  
         <a href="{% url 'key-requested' keyinst.id %}">Approve/Deny</a>  {% endif %}
      </li>
{% endfor %}
    </ul>

{% else %}
      <p>No key requests at this time.</p>
{% endif %}       
{% endblock %}