

<!--ALL LOANED KEYS...Click Renew/Edit to change 
  due back date Only admin can see.-->


{% extends "base.html" %}

{% block content %}
    <h1>All Checked out Keys</h1>
{% if keyinstance_list %}
    <ul>
{% for keyinst in keyinstance_list %} 
      <li class="{% if keyinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'key-detail' keyinst.key.pk %}">{{keyinst.key.title}}</a>
{{ keyinst.due_back }} {% if user.is_staff %} 
{{ keyinst.borrower }}{% endif %} {% if perms.catalog.can_mark_returned %} ---  
         <a href="{% url 'renew-key-librarian' keyinst.id %}">Renew/Edit</a>  {% endif %}
      </li>
{% endfor %}
    </ul>

{% else %}
      <p>There are no keys checked out at this time.</p>
{% endif %}       

<!--Hover Row Table-->

    <h1>All Checked out Keys</h1>

    <ul>

<div class="container">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Key</th>
        <th>Due Date</th>
        <th>Borrower</th>
        <th>---</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>//</td>
        <td>bob</td>
        <td>link</td>
      </tr>

    </tbody>
  </table>
</div>
{% endblock %}