{% extends "base.html" %}


<!--KEY DETAILS WHERE USERS CAN REQUEST/RETURN KEYS-->


{% block content %}
  <h1>Title: {{ keyid.title }}</h1>

  <p><strong>Summary:</strong> {{ keyid.summary }}</p>
  <p><strong>Key Type:</strong> {{ keyid.usefor.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">


    <h4>Copies</h4>                                           
      <!--ADD key request here=================================================================================-->
    
    {% for copy in keyid.keyinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
       
        {{ copy.get_status_display }}
        {% if copy.status == 'a' %}
        <button type="button" class="btn btn-success" style="float: right">Request</button>
        {% endif %}
      </p>
      <!--ADD key request here================================================================================-->


      {% if copy.status != 'a' %}
        <button type="button" class="btn btn-warning" style="float: right;" >Return</button>
      
     
        <p><strong>Return Date:</strong> {{ copy.due_back }}</p> 
      {% endif %}
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}