.DS_Store
__pycache__
.env
Code/Theo/practice/class_practice.py
Code/Theo/labs/contacts_copy.json
Code/Theo/quote_login.py
.env
Code/josh/labs/API_lab/.env
env

Code/Theo/django/blog/db.sqlite3



# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
uploads/

# Backup files # 
*.bak 

# If you are using PyCharm # 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

.vscode/settings.json

# Austen copied and reformatted most of the docs into his own folder
# This prevents the duplication bulk for everyone else
Code/Austen/python/docs/python-labs.md
Code/Austen/python/docs/labs/lab-adventure.md
Code/Austen/python/docs/labs/lab-ARI.md
Code/Austen/python/docs/labs/lab-contact-list.md
Code/Austen/python/docs/labs/lab-image-manipulation.md
Code/Austen/python/docs/labs/lab-mini-capstone.md
Code/Austen/python/docs/labs/lab-quotes-API.md
Code/Austen/python/docs/labs/lab-rain-data.md
Code/Austen/python/docs/labs/lab-search-and-sort.md
Code/Austen/python/docs/labs/lab-trivia-API.md
Code/Austen/python/docs/lessons/00-python-overview.md
Code/Austen/python/docs/lessons/01-fundementals.md
Code/Austen/python/docs/lessons/02-exceptions-testing.md
Code/Austen/python/docs/lessons/03-numbers-math.md
Code/Austen/python/docs/lessons/04-booleans-comparisons-conditionals.md
Code/Austen/python/docs/lessons/05-imports-modules-packages.md
Code/Austen/python/docs/lessons/06-random.md
Code/Austen/python/docs/lessons/07-loops.md
Code/Austen/python/docs/lessons/08-strings.md
Code/Austen/python/docs/lessons/09-lists-tuples.md
Code/Austen/python/docs/lessons/10-functions.md
Code/Austen/python/docs/lessons/11-dictionaries.md
Code/Austen/python/docs/lessons/12-regex.md
Code/Austen/python/docs/lessons/13-datetime.md
Code/Austen/python/docs/lessons/14-classes.md
Code/Austen/python/docs/lessons/15-requests.md
Code/Austen/python/docs/lessons/docstrings.md
Code/Austen/python/docs/lessons/file-io.md
Code/Austen/python/docs/lessons/sets.md
Code/Austen/python/docs/lessons/virtual-environments.md
Code/Austen/python/labs/week-1/docs/lab-averages.md
Code/Austen/python/labs/week-1/docs/lab-card-validator.md
Code/Austen/python/labs/week-1/docs/lab-data-visualization.md
Code/Austen/python/labs/week-1/docs/lab-make-change.md
Code/Austen/python/labs/week-1/docs/lab-palidrome-anagrams.md
Code/Austen/python/labs/week-1/docs/lab-turtle.md
Code/Austen/python/labs/week-2/docs/lab-blackjack.md
Code/Austen/python/labs/week-2/docs/lab-cipher.md
Code/Austen/python/labs/week-2/docs/lab-jokes-API.md
Code/Austen/python/labs/week-2/docs/lab-lottery.md
Code/Austen/python/labs/week-2/docs/lab-word-counter.md
Code/Austen/python/reference/boolean_practice.py
Code/Austen/python/reference/dictionaries.py
Code/Austen/python/reference/directory.py
Code/Austen/python/reference/example.txt
Code/Austen/python/reference/fileio.py
Code/Austen/python/reference/functions.py
Code/Austen/python/reference/hello.py
Code/Austen/python/reference/lab_anagrams.py
Code/Austen/python/reference/lab_averages.py
Code/Austen/python/reference/lab_make_change.py
Code/Austen/python/reference/lists.py
Code/Austen/python/reference/loops.py
Code/Austen/python/reference/numbers_practice.py
Code/Austen/python/reference/numbers.py
Code/Austen/python/reference/random_choice.py
Code/Austen/python/reference/requests.py
Code/Austen/python/reference/some_module.py
Code/Austen/python/reference/strings.py
Code/Austen/python/reference/data/colors.txt
Code/Austen/python/reference/data/phonebook.txt
