@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Varela+Round&display=swap');

* {
    font-family: 'Questrial', sans-serif;
}

.h1, .h2, .h3, .h5, .navbar-brand {
    font-family: 'Varela Round', sans-serif;
}

.large-icon {
    font-size: 2rem;
}

ul li {
    list-style: none;
}
