{% extends 'base.html' %} {% block content %}

<h1>{{request.user}}'s Polls</h1>

{% for question in questions.all %}
<div class="poll">
  <h1>{{question.question_text}}</h1>
  <small>Created by: {{question.user.username}}</small><small>Voting is {{question.status}}</small>

  <ul class="choices">
    {% for choice in question.choices.all %}
    <li class="choice">
      {{choice.votes}} - {{ choice.choice_text }}
      <a href="{% url 'polls:vote' choice.id %}">Vote</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %} {% endblock %}