/*
    Name: Michael
    Date: 10/10/2019
    Description: Lab 02
*/
/*
Lab 2: Blog
Let's make the template of a blog with a title, top-nav, side-nav, and multiple posts.
Use flexbox and semantic elements (header, nav, section, and footer).
You can use a custom font, fancy colors, and make generate fake content using an Ipsum.
*/

/* Body */
* {
	font-family: "Roboto", sans-serif;
}
