/*
    Name: Michael
    Date: 10/17/2021
    Description: Lab 02
*/
/*
Lab 2: Blog
Let's make the template of a blog with a title, top-nav, side-nav, and multiple posts.
Use flexbox and semantic elements (header, nav, section, and footer).
You can use a custom font, fancy colors, and make generate fake content using an Ipsum.
*/

/* Footer */
#footer {
	position: sticky;
	bottom: 0;
	z-index: 1;
}

#nav {
	position: fixed;
	top: 0;
	z-index: 1;
}
#carousel {
	z-index: auto;
}
