@use "src/variables";
@use "src/mixin";
@use "src/functions";
@use "src/bulma/bulma.sass";

.top-header {
    background-color: variables.$white;
    @include mixin.flex(row, center, space-between);
    // TRBL: top-right-bottom-left
    padding: 1rem 1rem 0.3rem 1rem;
    font-size: smaller;
}

.low-header {
    background-color: variables.$blue;
    @include mixin.flex(row, center, space-between); 
    &.-container {
        @include mixin.flex(row, center, flex-end);
    }
    & > img {
        @include mixin.rectangle(18px, 130px);
    }
    a {
        
    }
    input {
        background: none;
        width: 8rem;
    }   
}