@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
/* SCSS HSL */
/* SCSS Gradient */
body {
  background-color: orange;
}

.main-head-container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}
.main-head-container-item {
  font-size: 30pt;
  text-align: center;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.09em;
  word-spacing: 0.1em;
}
.main-head-container-item h1 {
  color: #271d16;
}

.main-body {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 2fr 1fr;
  margin-bottom: 2rem;
}
.main-body-top-left {
  margin: 2rem;
  grid-column: 2/3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-body-top-left-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  background-color: #c5d86e;
}
.main-body-top-right {
  grid-column: 3/4;
  justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Anton", sans-serif;
}
.main-body-top-right-container {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
}
.main-body-top-right-container-info {
  grid-row: 1/2;
  font-size: 30pt;
  font-style: oblique;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.main-body-top-right-container-info h2 {
  letter-spacing: 0.09em;
  word-spacing: 0.1em;
  text-align: center;
  color: #271d16;
}
.main-body-top-right-container-img {
  grid-row: 2/3;
  background-image: url(../images/burrito_main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: calc(13em * 2.5);
  height: calc(12em * 2.5);
  border: 1rem solid #c5d86e;
}
.main-body-top-right-container-receipt {
  grid-row: 3/4;
  place-self: center;
  margin: 0;
  padding: 0;
}
.main-body-top-right-container-receipt-box {
  position: relative;
  margin: 40px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  border-radius: 2px;
  border-radius: 15px;
  padding: 2rem;
}
.main-body-top-right-container-receipt-box::before, .main-body-top-right-container-receipt-box::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.main-body-top-right-container-receipt-box::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}
.main-body-top-right-container-receipt-box::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}
.main-body-top-right-container-receipt-box:hover::before, .main-body-top-right-container-receipt-box:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}
.main-body-top-right-container-receipt-box:hover::before {
  left: 5px;
}
.main-body-top-right-container-receipt-box:hover::after {
  right: 5px;
}
.main-body-top-right-container-receipt-box-area {
  text-align: center;
}
.main-body-top-right-container-receipt-box-area #order {
  color: blue;
}
.main-body-top-right-container-receipt-box-area #val {
  color: green;
}
.main-body-top-right-container-receipt-box-area p {
  text-align: left;
  width: 40ch;
}
.main-body-lower {
  grid-row: 2/3;
  grid-column: 2/4;
}
.main-body-lower-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-body-lower-container-img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid black;
  width: 100%;
}
.main-footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-footer-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.3em;
       column-gap: 0.3em;
  /* &-blocks {

  } */
}

.box-shadow {
  box-shadow: 10px 10px 8px #271d16;
  border-radius: 15px;
}

.fb-image {
  background-image: url(../images/facebook-icon.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.lk-image {
  background-image: url(../images/linked-in-icon.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.yt-image {
  background-image: url(../images/youtube-icon.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.twt-image {
  background-image: url(../images/twitter.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.btn {
  border-radius: 15px;
  background: none;
  color: #271d16;
  padding: 0.7em;
  font-size: large;
  font-family: "Anton", "san-serrif";
}

@media screen and (max-width: 568px) {
  .main-body {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto 2fr;
    justify-content: center;
  }
  .main-body-top-right {
    text-align: center;
    grid-column: 2/3;
    grid-row: 0/1;
  }
  .main-body-top-right-container-info {
    place-self: center;
    padding: 0.7em;
  }
  .main-body-top-right-container-img {
    margin-bottom: 2rem;
    height: 200px;
    width: 308px;
    place-self: center;
  }
  .main-body-top-right-container-receipt-box {
    width: 18em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-body-top-left {
    grid-row: 2/3;
    justify-content: center;
  }
  .main-body-top-left-form {
    place-self: center;
  }
  .main-body-lower {
    grid-row: auto;
    /*  &:nth-child() {

    } */
  }
}
@media screen and (min-width: 1300px) {
  .main-body-top-right-container-img {
    width: calc(20em * 3);
    height: calc(15em * 3);
  }

  fieldset {
    font-size: x-large;
  }

  img {
    height: 30rem;
    width: 45rem;
    margin: 2em;
  }

  .main-body-top-right-container-info {
    font-size: 60pt;
  }

  .main-body-top-right-container-receipt-box {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 50em;
  }
  .main-body-top-right-container-receipt-box-area h1 {
    font-size: 30pt;
  }
  .main-body-top-right-container-receipt-box-area p {
    font-size: 30pt;
  }
}/*# sourceMappingURL=index.css.map */