body{
    padding: 20px 20px;
    margin: 20px 20px;
}
#top-bar{

    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 50px;
    
    border-bottom-color: black;
    border-bottom-width: 100vw;
    border-bottom: solid;
}

label{
    margin-top: 10px;
}