#random-quote {
	position: fixed;
	background-color: rgb(29, 29, 29);
	padding: 5px;
	padding-bottom: 0;
	bottom: 10px;
	left: middle;
	width: fit-content;
}

#top-bar {
	position: static;
	width: fit-content;
	padding: 0 0 0 0;
}
