{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 col-lg-3 border-right">
        <h3>{{user.username}}</h3>
        <h5>{{user.full_name}}</h5>
        <h5>{{user.email}}</h5>
    </div>

    <div class="col-12 col-lg-9">
        <h1>Cart</h1>


        <div class="container py-5">
            <div class="row">
                <div class="col-7">
                    <h4>Product</h4>
                </div>
                <div class="col-3">
                    <h4>
                        Quantity
                    </h4>
                </div>
                <div class="col-2">
                    <h4>
                        Price
                    </h4>
                </div>
            </div>


            {% for product in user.cart.products.all %}
            <div class="row border-bottom">
                <div class="col-7 d-flex align-items-center pt-4">
                    <h4 class="m-0 d-flex flex-column flex-md-row align-items-center">
                        <img src="{{product.image_url}}" alt="{{product.id}}" height=50 width=auto class="mx-3 my-2">
                        {{product.title}}
                    </h4>
                </div>

                <div class="col-3 d-flex align-items-center">
                    <form action="" class='d-flex flex-column flex-md-row gap-2'>
                        <input type="number" value=1 class='form-control'>
                        <button type='submit' class='btn btn-sm btn-success'>Update</button>
                    </form>
                </div>

                <div class="col-2 lead d-flex align-items-center">
                    {{product.formatted_price}}
                </div>

                {% empty %}
                    <h3>No Products...</h3>
                {% endfor %}
            </div>

            <div class="row mt-4">
                <div class="col-3 offset-7 d-flex align-items-center">
                    <h4 class='ms-auto'>Total</h4>
                </div>
                <div class="col-2"><h4>$99.99</h4></div>
            </div>





        </div>

    </div>

</div>


{% endblock content %}