<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/index.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <title>Flask Lab 05</title>
</head>

<body>
    <div class="main-head">
        <div class="main-head-content">
            <div class="main-head-content-welcome">
                <div class="main-head-content-welcome-nav">
                    <h1>HEADER</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="main-body">
            <div class="main-body-container">
                <div class="main-body-container-left">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="main-foot">
        <div class="main-foot-content">
            <div class="main-foot-content-bye">
                <div class="main-foot-content-bye-space">
                    <h1>FOOTER</h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>