{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('index') }}" method="get">
    <div class="main-body-container-left-btn">
        <label for="lw-letters">Lowercased Letters:</label>
        <div class="boxed">
            <p>
                <span>
                    {% for i in bitty_bet %}
                    {{ i }}
                    {% endfor %}
                </span>
            </p>
        </div>
        <br>
        <br>
        <label for="up-letters">Uppercased Letters:</label>
        <div class="boxed"></div>
        <br>
        <br>
        <label for="num-nums">Numbers:</label>
        <div class="boxed"></div>
        <br>
        <br>
        <label for="spec-chars">Special Characters:</label>
        <div class="boxed"></div>
        <br>
        <label for="spec-chars">Password:</label>
        <div class="boxed stop">
        </div>
        <br>
        <button class="btn" type="submit">Return</button>
    </div>
</form>



{% endblock %}