{% extends "base.html" %}

{% block content %}

<div>
    <div class="main-body-container-left-btn">
        <form class="flex-me" action="{{ url_for('index') }}" method="get">
            <div>
                <input id="output-input" type="text" value="{{ p_word }}" disabled></input>
            </div>
            <br>
            <button class="btn" type="submit">Return</button>
        </form>
        <form class="flex-me" action="{{ url_for('hash_pw') }}" method="GET">
            <div>
                <input id="output-input" type="text" value="{{ hash_word }}" disabled></input>
            </div>
            <button class="btn" type="submit">Hash It!</button>
            </form>
    </div>
</div>



{% endblock %}