.flip-card {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: auto;
  perspective: 1000px;
  margin-bottom: 0rem !important;
}

.flip-card-inner {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin-bottom: 0rem !important;
}

.flip-card:hover .flip-card-inner {
  display: flex;
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 0rem !important;
}

.flip-card-front {
  position: absolute;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.album {
  background-color: rgb(51, 50, 50) !important;
}

.card {
  background-color: rgb(235, 242, 247) !important;
}

.card-body {
  font-size: large !important;
}

.card-text {
  margin-bottom: 3px !important;
}

.card-title {
  text-align: center;
  font-size: x-large;
}

.modal-content {
  width: fit-content;
  height: auto
}

.skillz {
  text-align: center;
}