body {
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.word-box1 {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 250px;
}
.word-box2 {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}

.btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.outcome-header {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-top: 10%;
}

.outcome {
    display: flex;
    width: 50%;
    margin-left: 25%;
    font-size: 1.5rem;
    background-color: darkcyan;

}