
body {
    background-color: coral !important;
}

.navbar {
    margin-bottom: 3rem;
}

#big-pic {
    padding-top: 2rem;
    border-radius: 25px;
}
.center {
    text-align: center;
}
#priority {
    color: Blue;
}
.is-1 {
    color: white !important;
    text-decoration: double;
}


