{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
    </div>
  </div>
</nav>



<div class="row text-center">
  <div class="col ">
    <div class="title">
      <h1>Welcome to Burrito Town</h1>
    </div>
  </div>
</div>



<div class="row justify-content-start">
  <div class="col-4 ">
    <form action="/login" method="post">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname" /><br /><br />
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

  </div>
</div>







<!-- first card -->

<div class="card-group">
  <div class="card" style="width: 18rem;">
    <img src="../static/media/visual-stories-micheile-1zyj8nOdwPs-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tortilla</h5>
      <p class="card-text">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          White Flour
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Wheat FLour
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Spinach
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Corn
        </label>
      </div>
      </p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <!-- end first card -->


  <!-- start second card -->
  <div class="card" style="width: 18rem;">
    <img src="../static/media/louis-hansel-CvLZ6hbIemI-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rice</h5>
      <p class="card-text">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="rice-radio" id="rice-radio">
        <label class="form-check-label" for="rice-radio">
          White Rice
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="rice-radio" id="rice-radio">
        <label class="form-check-label" for="rice-radio">
          Brown Rice
        </label>
      </div>

      </p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <!-- end second card -->



  <!-- start third card -->
  <div class="card" style="width: 18rem;">
    <img src="../static/media/shelley-pauls-t4X660oKiYs-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Beans</h5>
      <p class="card-text">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="beans-radio" id="beans-radio">
        <label class="form-check-label" for="beans-radio">
          Black Beans
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="beans-radio" id="beans-radio">
        <label class="form-check-label" for="beans-radio">
          Pinto Beans
        </label>
      </div>

      </p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <!-- end third card -->


  <!-- start fourth card -->
  <div class="card" style="width: 18rem;">
    <img src="../static/media/mark-deyoung-mjcJ0FFgdWI-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Protein</h5>
      <p class="card-text">

      <div class="form-check">
        <input class="form-check-input" type="radio" name="protein-radio" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Carnitas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="protein-radio" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Chicken
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="protein-radio" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Sofritas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="protein-radio" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          None
        </label>
      </div>
      </p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <!-- end fourth card -->


<!-- start fifth card -->
<div class="card" style="width: 18rem;">
  <img src="../static/media/andra-ion-qsPHXC4T2cY-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Additional ingrediants</h5>
    <p class="card-text">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Cheese
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Sour Cream
      </label>
    </div>
    </p>
    <a href="#" class="btn btn-primary ">Submit</a>
  </div>
</div>
<!-- end fifth card -->
</div>
<!-- start text area -->
<div class="row">
  <div class="mb-3 col-md-4">
    <label for="exampleFormControlTextarea1" class="form-label">Delivery Instructions</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
<!-- end text area -->


{% endblock %}