{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

    </div>
  </div>
</nav>



<div class="row text-center">
  <div class="col ">
    <div class="title">
      <h1>Buy a burrito</h1>
    </div>
  </div>
</div>



<div class="row justify-content-start">
  <div class="col-4 my-5">
    <form action="/login" method="post">
      <label for="fname">First name:</label>
      <input type="text" id="fname" name="fname" /><br /><br />
      <label for="lname">Last name:</label>
      <input type="text" id="lname" name="lname" /><br /><br />
      <input type="submit" value="Submit" class="btn btn-primary" />
    </form>

  </div>
</div>

{% block order %}
<form action="{{url_for('receipt')}}" method='POST'>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../static/media/tortilla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tortilla</h5>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="tortilla" value="white flour" />
            <label class="form-check-label" for="white flour radio">
              White flour
            </label>
          </div></p>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="tortilla" value="wheat flour" />
            <label class="form-check-label" for="wheat flour radio">
              Wheat flour
            </label>
          </div></p>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="tortilla" value="spinach" />
            <label class="form-check-label" for="spinach radio">
              Spinach
            </label>
          </div></p>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="tortilla" value="corn" />
            <label class="form-check-label" for="corn radio">
              Corn
            </label>
          </div></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/media/rice.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rice</h5>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="rice" value="white" />
            <label class="form-check-label" for="white radio">
              White Rice
            </label>
          </div></p>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="rice" value="brown" />
            <label class="form-check-label" for="brown radio">
              Brown Rice
            </label>
          </div></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/media/bean.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bean</h5>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="bean" value="black" />
            <label class="form-check-label" for="black radio">
              Black
            </label>
          </div></p><div class="form-check">
            <input class="form-check-input" type="radio" name="bean" value="pinto" />
            <label class="form-check-label" for="pinto radio">
              Pinto
            </label>
          </div></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/media/protein.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Protein</h5>
          <p class="card-text"><div class="form-check">
            <input class="form-check-input" type="radio" name="protein" value="carnitas" />
            <label class="form-check-label" for="carnitas radio">
              Carnitas
            </label>
          </div></p><div class="form-check">
            <input class="form-check-input" type="radio" name="protein" value="chicken" />
            <label class="form-check-label" for="chicken radio">
              Chicken
            </label>
          </div></p><div class="form-check">
            <input class="form-check-input" type="radio" name="protein" value="sofritas" />
            <label class="form-check-label" for="sofritas radio">
              Sofritas
            </label>
          </div></p><div class="form-check">
            <input class="form-check-input" type="radio" name="tortilla" value="none" />
            <label class="form-check-label" for="none radio">
              None
            </label>
          </div></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/media/additional_ingredients.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><div class="form-check ">
            <input class="form-check-input" type="checkbox" name="extras" value="cheese" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              cheese
            </label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="extras" value="sour cream" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              sour cream
            </label>
          </div></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <label for="exampleFormControlTextarea1" class="form-label">Delivery
        Instructions</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="delivery_instructions"
        value="delivery_instructions"></textarea>
    </div>
  </div>
  <p><input type="submit" value="Submit" class="btn btn-primary"></a></p>
      </form>

{% endblock %}






<!-- end text area -->
{% endblock %}