{% extends "base.html" %}



{% block content %}
<form action="#" method='post'>
<div class="card" style="width: 18rem;">
    <img src="../static/media/mark-deyoung-mjcJ0FFgdWI-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Protein</h5>
      <p class="card-text">
        
        <div class="form-check">
        <input class="form-check-input" type="radio" name="carnitas" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Carnitas
        </label>
      </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="chicken" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Chicken
        </label>
      </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="sofritas" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          Sofritas
        </label>
      </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="none" id="protein-radio">
        <label class="form-check-label" for="protein-radio">
          None
        </label>
      </div>
    </p>
    
    <input type="submit" value="Submit" a href="#" class="btn btn-primary"></a>
    </div>
  </div>
  <!-- end fourth card -->
</div>
</form>



{% endblock %}