{% extends "base.html" %}



{% block content %}


<form action="{{url_for('receipt')}}" method='POST'>
  {% for category in categories %}
  <div class="card" style="width: 18rem;">
    
    <img src="../static/media/{{category}}.jpg" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title">{{category}}</h5>
      <p class="card-text">

      <fieldset class="form-check">
        {% for option in options['category'] %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{category}}" value="{{ option }}" />
          <label class="form-check-label" for="{{ option+ '-radio' }}">
            {{option}}
          </label>
        </div>
      </fieldset>
      {% endfor %}
      
      
      
      <fieldset class="form-check">
        {% for option in options[category] %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="{{category}}" value="{{ option }}" />
          <label class="form-check-label" for="{{ option+ '-radio' }}">
            {{option}}
          </label>
          
        </div>
        {% endfor %}
      </fieldset>
    </div>
  
    {% endfor %}
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="cheese" value=True id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        cheese
      </label>
    </div>
    <div>
      <input class="form-check-input" type="checkbox" name="sour_cream" value=True id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        sour cream
      </label>
      <p><input type="submit" value="Submit" a href="#" class="btn btn-primary"></a></p>
    </div>
  </form>










{% endblock %}