{% extends "base.html" %}
{% block content %}



<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Find Your Spirit Pokemon</h1>
    <p class="lead text-muted">Are you a obsessed with Pokemon? Do you find yourself wondering how to train Pokemon in
      your spare time? What the heck even is a Pokemon? Who knows, it doesn't matter, because you have found a home dedicated to
      discovering your inner Pokemon!</p>
    <div class="input-group">
      <form class="input-group" action="{% url 'home' %}" method="get">
        <input type="search" name="search" class="form-control rounded" placeholder="Find My Pokemon"
          aria-label="Search" aria-describedby="search-addon" />
        <button type="button submit" class="btn btn-outline-primary">search</button>
      </form>
    </div>
    <br />
    <p class="lead text-muted">Discover Your Spririt Pokemon</p>
    <a href="{% url 'random' %}" class="btn btn-primary my-2">Ask The Oracle</a>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for item in names %}
      {% csrf_token %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <small class="text-muted card-body">{{item.number}}</small>
          <div class="mb-4 flip-card">
            <div class="mb-4 flip-card-inner">
              <div class="card-img-top flip-card-front">
                <img id="myImage" class="card-img-top"
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{item.number}}.png"
                  alt="Card image cap" />
              </div>
              <div class="card-img-top flip-card-back">
                <img id="myImage" class="card-img-top"
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{item.number}}.png"
                  ; alt="Card image cap" />
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text card-title">{{item.name}}</p>
            <p class="card-text">Height: {{item.height}}</p>
            <p class="card-text">Weight: {{item.weight}}</p>
            <p class="card-text">Skillz: {% for i in item.types.all %}| {{ i.name }} {% endfor %}|</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}