#header-1{
    display: flex;
    justify-content: center;
    
}

#top-nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0,0,0, 0.6);
    padding: 20px;


}

.nav-top{
    color: black;
    


}

#section2{
    display: flex;
    align-content: center;



}

#side-nav{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(0,0,0, 0.6);
    width: 125px;
    height: 600px;
    justify-content: space-evenly;
    float: left;
    
}

.nav-side{
    
    padding: 10px;
    


}

#article1{
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    
}

.articles{
    display: flex;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(0,0,0, 0.6);
    border-width: 10px;
    border-style:outset;
    
}

