/* <!--Lab 02: Blog - Class Raven - Rafael Medina - 2021--> */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{padding-bottom:50px;}

body{
  background-image: url(../images/background.jpg);
  
}

/* --Each individual li flex item neeed to be selected seperately to prevent Menu2 text from being too large while hovering.-- */ 
.Menu1 {
  display: flex;
  align-items: center;
  height: inherit;
  box-shadow: 0 5px 7px rgba(0,0,0,0.4);
  font-size: 1.8rem;
}

/* --Tried several combos so static would not overlap footer, this did the trick " position: sticky; top: xxpx;".-- */
/* --Wanted to hide side menu untill scroll, but only found javascript ways of doing it, not CSS for this Lab2-- */
.Menu2{
  position: sticky; top:50px;
  box-shadow: 0 5px 7px rgba(71, 71, 71, 0.4);
  font-size: 1.2rem;
}

.Menu-item{
  list-style: none;
  flex: 1;
  height: inherit;
  line-height: 5rem;
  text-align: center;
  color: #fff;
  transition: all .4s;
  cursor: pointer;

}

li.Menu-item.Menu-item--color6:hover{
  font-size: 1.3rem;
}

/* --prevents "about us" from dislodging other menu items-- */ 
.Menu-item:hover{
  flex: 3;
  font-size:2.2rem;
  text-shadow: 1px 1px 3px rgb(128, 128, 128);
}
.Menu-item--color1{
  background:#2a9d8f;
}
  .Menu-item--color2{
  background:#e7b840;
}
.Menu-item--color3{
  background:#f4a261;
}
.Menu-item--color4{
  background:#e76f51;
}
.Menu-item--color5{
  background:#2a9d8f;
}
  .Menu-item--color6{
  background:#e7b840;
}
.Menu-item--color7{
  background:#f4a261;
}
.Menu-item--color8{
  background:#e76f51;
}

/* --I set a margin to keep content from getting too distorted on larger screens-- */
.content{
  display:flex; 
  height:auto;
/*   margin:5px; */
  text-align:center;
/*   flex-wrap:wrap; */
  color:white;
  margin: auto;
  max-width: 1600px;
  font-size: 1.2rem;
}
.content > * 
{
  margin:5px 3px;
}

.sidenav{
  flex-basis:10%;
  /*background-color:#6e9ce6;*/
  border-radius:10px;
  position:relative;
  order:-1;
  flex-grow:1;
  max-width: 110px;
}

.maincontent{
  flex-basis:70%;
  /*background-color:#e6e647;*/ 
  border-radius:10px;
  flex-grow:2;
  padding-bottom: 40px;
}

.aside{
  flex-basis:20%;
  /*background-color:#6e9ce6;*/
  border-radius:10px;
  order:1;
  padding-right: 41px;
  padding-bottom:25px;
}

  .footer{
  display:flex;
  justify-content:center;
  background-color:teal;
  padding-top:20px;
  color:white;
  margin-bottom:25px;
  background: linear-gradient(90deg, rgba(42,157,143,1) 0%, rgba(231,184,64,1) 50%, rgba(231,111,81,1) 100%);
  height: 130px;
  font-size:1.4rem;
  margin-bottom: -10px;
  box-shadow: 10px rgba(0,0,0,0.4);
}

@media(max-width:700px)
{
.content{
  flex-direction:column;
  order:1;
  font-size:1.1rem;
}
.maincontent{
  order:-1;
}
.sidenav{
  display:none;
}

/* --Keeps the flexbox from getting distorted when hovering is mobile-- */
body > header > ul > li.Menu-item.Menu-item--color1:hover{
  font-size: 1.3rem;
}
body > header > ul > li.Menu-item.Menu-item--color2:hover{
  font-size: 1.2rem;
}
body > header > ul > li.Menu-item.Menu-item--color3:hover{
  font-size: 1.3rem;
}
body > header > ul > li.Menu-item.Menu-item--color4:hover{
  font-size: 1.3rem;
}
body > header > ul > li.Menu-item.Menu-item--color1{
  font-size: 1.2rem;
}
body > header > ul > li.Menu-item.Menu-item--color2{
  font-size: 1rem;
}
body > header > ul > li.Menu-item.Menu-item--color3{
  font-size: 1.2rem;
}
body > header > ul > li.Menu-item.Menu-item--color4{
  font-size: 1.2rem;
}

/* columns:2; did the trick of getting 2 cloumns on @media call. Padding 15px to align with one column items */ 
.aside{
  height: auto;
  columns: 2;
  padding: 15px;
}
h3 {
  font-size: 1rem;
  padding-left: 10px;
  padding-right:10px;
  
}
}

/*Cards below*/
  .band_1{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;   
  text-align: justify;
}
.band_2{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;   
  
}
span, h1{
  text-align: center;
}
.card{
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(73, 73, 73, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  box-shadow: 0 5px 7px rgba(0,0,0,0.4);
}  
.card article{
  padding: 20px;
  display: flex;   
  flex: 1;
  justify-content: space-between;
  flex-direction: column; 
  margin-top: -8px;  
}
.card .thumb{
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
.card p{ 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
h1{
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card span{
  font-size: 11px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}
/* --Margin right & left Auto centers it on the card and allows a max-width: to be used-- */
button{
  background: transparent;
  color: rgb(122, 122, 122);
  border: 1.2px solid rgb(126, 126, 126);
  padding:10px;
  text-align: center;
  display: inline-block;
  font-size:13px;
  margin-top: 14px;
  border-radius: 25px;
  max-width: 115px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

button:hover{
  background: linear-gradient(90deg, rgba(42, 157, 143, 1) 0%, rgba(231, 184, 64, 1) 33%, rgba(244, 164, 97, 1) 66%,rgba(231, 111, 81, 1) 100% );
  color: white;
  border: 1px solid rgb(129, 129, 129);
  border-radius: 25px;
}
/* --Reference for text gradient: https://techstacker.com/gradient-text-color-css/ -- */
h2{
  background: linear-gradient(90deg, rgba(42, 157, 143, 1) 0%, rgba(231, 184, 64, 1) 33%, rgba(244, 164, 97, 1) 66%,rgba(231, 111, 81, 1) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:60px;
  margin-top:30px;
  padding-top:50px;
  padding-bottom:100px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}


