<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="lab5" content="width-device-width" , initialscale="1.0" />
    <meta lang="en" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel='stylesheet' type="text/css" href="{{url_for('static', filename='style.css') }}"/>
    
    
  </head>
  <body>
    <div id='receipt' class='container white '>
      <div class='row left-align '>
        <header id='top-header' class='black-text center-align'>Receipt</header>
        <div id='item' class='col s12 m12 l12'>
          Name: {{items['first-name']}} {{items['last-name']}}
          
        </div>
        <div id='item' class='col s12 m12 l12'>
          Tortilla Type: {{items['tortilla']}}
        </div>
        <div id='item' class='col s12 m12 l12'>
          Type of Rice: {{items['rice']}}
        </div>
        <div id='item' class='col s12 m12 l12'>
          Type of Beans: {{items['beans']}}
        </div>
        <div id='item' class='col s12 m12 l12'>
          Type of Protein: {{items['protein']}}
        </div>
        <div id='item' class='col s12 m12 l12'>
          Extra Items: {{items['extra']}}
        </div>
        <div id='item' class='col s12 m12 l12'>
          Delivery Instructions: {{items['deliver']}}
        </div>
        <div id='order-thanks' class="black-text center-align col s12 m12 l12">Thanks for ordering!</div>
        



      </div>

    </div>
      








    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>















</html>