@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');


*{
font-family: 'M PLUS Code Latin', sans-serif;
font-weight: bolder;
background-color: rgb(243, 237, 237);
}


.centered {
display: flex;
justify-content: center;
align-items: center;
}

.titles {
font-weight: bolder;
font-size: 1.2rem;
color: rgb(165, 42, 42);
max-width: 300px;
}

.col-12 {
margin: 20px;
display: flex;
justify-content: center;
}

.password-container {

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 2rem;


}

.submit {
margin: 20px;
}