@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');

*{
font-family: 'M PLUS Code Latin', sans-serif;
font-weight: bolder;
background-color: rgb(243, 237, 237);
}

.centered {
display: flex;
justify-content: center;
align-items: center;
}

.page-header {
padding: 5px;
font-weight: bolder;
font-size: 1.5rem;
color: rgb(165, 42, 42);
border: 2px solid rgb(165, 42, 42);
background-color: rgb(235, 209, 209);;
border-radius: 5px;
max-width: 300px;
margin: 17px;
margin-bottom: 0px;
}

.titles {
font-weight: bolder;
font-size: 1.2rem;
color: rgb(165, 42, 42);
max-width: 300px;
}

.col-12 {
margin: 10px;
display: flex;
justify-content: center;
}

label {
padding: 5px;
}