/* 
    <style>
      body {
        text-align: center;
        font-family: cursive, sans-serif;
        background-image: url("https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8xMDIyMDM2Mi9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY0Njg1MTM3OX0.6rhwHN5gm2GmCRwquUJebCG3l0gl5GDtOBBzVFJV95A/img.jpg");
        background-size: 35vw;
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: gray;
      }

      h1 {
        font-size: 2em;
        margin: 0;
        color: darkslategray;
      }

      h2 {
        font-size: 1.5em;
        margin: 0;
        color: darkslategray;
      }

      p {
        font-size: 1em;
        margin: 0;
      }

      img {
        border-radius: 50%;
        border: 1px solid black;
        margin: 0 auto;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
        padding: 0;
      }

      a {
        color: darkslateblue;
        text-decoration: none;
      }

      a:hover {
        color: red;
      }
      
    </style>
*/

$font-stack: cursive, sans-serif;
$primary-color: darkslategray;
$secondary-color: darkslateblue;
$tertiary-color: red;

body {
  text-align: center;
  font-family: $font-stack;
  background-image: url("https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8xMDIyMDM2Mi9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY0Njg1MTM3OX0.6rhwHN5gm2GmCRwquUJebCG3l0gl5GDtOBBzVFJV95A/img.jpg");
  background-size: 35vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: gray;
}
