{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row d-flex justify-content-center">
  <h1 class="text-center pt-4 pb-4">Blog Posts</h1>
<div class="d-flex col-12 col-md-5 col-lg-6 justify-content-center">
  <ul class="list-group shadow">
    {% for blog in blogs %}
      <li class="list-group-item p-3">
            {{blog.user}}: {{blog.title}} | {{blog.date_created}}
            <br> 
            <br><strong>{{blog.body}}</strong>
          </li> 
          
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock content %}
