@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1{
    color:white;
}
body {
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.l2HwbLPGcGjyjjQrmQdZ3QHaEK&pid=Api&P=0&w=350&h=198');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(61, 40, 180, 0.342);
    padding:50px;
    margin: 50px;

    font-family: 'Oswald', sans-serif;
    font-size:1.3rem;
    border-radius: 7px;
}
img{border-radius: 120%;}
nav{background-color:chartreuse;}
a{color: aqua;}
.textbox {
    color:white;
    background-color: rgba(0,0,0, .8);
    padding:30px;
}

section{ padding: 2rem;}


planet express logo
https://purepng.com/public/uploads/medium/purepng.com-futurama-logofuturamaanimationsciencefictioncartoon-1701528604196wuck6.png

