* {
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 1px dashed red; */
}
body {
	background-color: black;
	color: slategrey;
}
assignment {
	font-size: 14px;
}
assignment details {
	padding: 20px;
}
assignment a {
	color: red;
	border: none;
}
assignment li {
	text-indent: 20px;
	list-style: none;
}