{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/9e458748cc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href={% url 'todo_list:index' %}>
                    Home
                </a>

                <a class="navbar-item" href={% url 'todo_list:create' %}>
                    Create
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href={% url 'todo_list:completed' %}>
                            Completed
                        </a>
                        <a class="navbar-item" href={% url 'todo_list:update' %}>
                            Update
                        </a>
                        <a class="navbar-item" href={% url 'todo_list:delete' %}>
                            Delete                           
                            <!-- <span><i class="far fa-trash-alt"></i></span> -->
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href={% url 'todo_list:signup' %}>
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href={% url 'todo_list:login' %}>
                            Log in
                        </a>
                        <a class="button is-light" href={% url 'todo_list:logout' %}>
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
            {% block content %}{% endblock %}
        </div>
        <div class="column is-one-fifth"></div>
    </div>


    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>To Do List</strong> by
                <a href="https://djhunter67.github.io/" target="_blank">
                    <strong>
                        Christerpher Hunter
                    </strong>
                </a>. The website content is brought to you by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a>.
            </p>
        </div>
    </footer>
</body>

</html>