{% extends "todo_list/base.html" %}
{% load static %}
{% block content %}

<div class="card">
    {% for item in items.all %}
    
    <div class="card-content">
        <div class="media">
            <!-- <div class="media-left">
                <figure class="image is-48x48 ">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div> -->
            <div class="media-content">
                <p class="title is-4">{{ item.todo_name }}</p>
            </div>
        </div>

        <div class="content center box" >
            <h5>{{ item.text }}</h5>
            <br>
            <br>
            <time>{{ item.created_date }}</time>
        </div>

        <div class="content">
            <h5>Priority:</h5>
            <p><strong>{{ item.priority }}</strong></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}