{% extends "todo_list/base.html" %}
{% load static %}
{% block content %}


<h1 class="title center is-1">TODOS</h1>
<div class="card">
    {% for item in items.all %}

    <div class="card-content">
        {% if not item.completed_or_not %}
        <div class="media">
            <!-- <div class="media-left">
                <figure class="image is-48x48 ">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div> -->
            <div class="media-content">
                <p class="title is-4">{{ item.todo_name }}</p>
            </div>
        </div>

        <div class="content center box">
            <h5>{{ item.text }}</h5>
            <br>
            <form action="{% url 'todo_list:completed' %}" , method="POST">
                {% csrf_token %}
                <input type="hidden" name="completed" value="True">
                <input class="button is-success is-light" type="submit" value="Completed">
            </form>
            <br>
            <br>
            <time>{{ item.created_date }}</time>
        </div>

        <div class="content">
            <h5 id="priority">Priority:</h5>
            <p><strong>{{ item.priority }}</strong></p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}