{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Sign in</h2>
            <div class="card my-5">
                <form class="card-body p-lg-5" action="{% url 'users_app:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Username" name='username' aria-describedby="emailHelp" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name='password' placeholder="Password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5 mb-5 w-100">Login</button>
                        <button type="button" class="btn btn-primary mb-5 w-30">
                            <a href="{% url 'users_app:register' %}" style="text-decoration: none; color:white;">Register<a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}