/* SCSS HSL */
/* SCSS Gradient */
body {
  background-color: lightgray;
  position: relative;
}

.main-head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  background-color: #6c4c3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-head-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}
.main-head-body-butts {
  height: 6.5em;
  width: 5em;
  border-radius: 30px 30px;
  background-color: #a29071;
  border: none;
  color: black;
  margin: 1em 0;
  text-align: center;
  cursor: pointer;
}

.main-body {
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: auto auto;
}
.main-body-hero {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.main-body-hero-image {
  background-image: url(../assets/images/prof-image.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border: 2px solid black;
  border-radius: 50% 50%;
  height: 18em;
  width: 18em;
  margin-bottom: 0.8em;
}
.main-body-hero-text-box {
  background-color: green;
  border: 2px solid black;
  justify-items: center;
  width: 100%;
  border-radius: 15px;
}
.main-body-card-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 80vw;
}
.main-body-card-section-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 3em 0;
  border-radius: 15px;
  overflow: hidden;
}
.main-body-card-section-card-1-image {
  padding: 0;
  background-image: url("../assets/images/ASU-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: 200px;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 16/9;
  transition-delay: 0.2s transform ease-in-out;
}
.main-body-card-section-card-1-image:hover {
  transform: scale(1.025);
}
.main-body-card-section-card-1-info {
  color: darkmagenta;
  font-size: small;
  width: 80vw;
  position: relative;
  left: -1em;
  margin: 1em 0;
}
.main-body-card-section-card-2-image {
  padding: 0;
  background-image: url("../assets/images/ASU-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 16/9;
  transition-delay: 0.2s;
}
.main-body-card-section-card-2-image:hover {
  transform: scale(1.025);
}
.main-body-card-section-card-2-info {
  color: darkmagenta;
  font-size: small;
  width: 80vw;
  left: -1em;
  margin: 1em 0;
}
.main-body-card-section-card-3-image {
  padding: 0;
  background-image: url("../assets/images/ASU-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 100%;
  max-height: 200px;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 16/9;
  transition-delay: 0.2s transform ease-in-out;
}
.main-body-card-section-card-3-image:hover {
  transform: scale(1.025);
}
.main-body-card-section-card-3-info {
  color: darkmagenta;
  font-size: small;
  width: 80vw;
  position: relative;
  left: -1em;
  margin: 1em 0;
}
.main-body-card-section .card-shadow {
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.main-footer {
  display: grid;
  bottom: 0;
}
.main-footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  background-color: #737e72;
}

@media screen and (min-width: 1000px) {
  .main-head {
    height: 6em;
    width: clamp(50vw, 100vw, 150%);
  }

  .main-head-body-butts {
    height: 4em;
    width: 10em;
    transition-duration: 0.4s;
  }
  .main-head-body-butts:hover {
    opacity: 90%;
    transform: scale(1.035);
  }

  .main-body {
    grid-template-columns: 190px auto 190px;
  }
  .main-body-hero {
    justify-self: start;
  }

  .text-box-width {
    width: 30em;
  }
}/*# sourceMappingURL=index.css.map */