<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px
        }
    </style>


    <title>Register</title>
</head>
<body>

    <div class="center">
        <h1>Register</h1>
        <form action="{% url 'users_app:register' %}" method="POST" class="center">
            {% for field in form %}
                <label for="{field}_id">{{field.label}}  <br/>
                    {{ field }}
                </label>
            {% endfor %}
            {% csrf_token %}
            <button type="submit">Register</button>
        </form>
    </div>
    
</body>
</html>