.navbar {
  background-color: goldenrod;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .brand {
  padding-left: 15px;
  font-family: 'Roboto Slab', serif
} 

.navbar .nav-links {
  padding: 15px;

  display: inline-flex;
  /* gap is the horizontal spacing of a flexbox */
  gap: 1rem;
}

.navbar .nav-link {
  list-style: none;
}

.navbar .nav-link:hover {
  cursor: pointer;
}

