.auth-form {
  width: 50vw;
  padding: 30px;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  align-self: center;
  
  background-color: lightseagreen;
  border-radius: 5px;
}

.auth-form input {
  padding: 10px;
}

.auth-form button {
  color: lightgrey;
  background-color: purple;
  border: none;
  border-radius: 5px;
  padding:10px;
}

