{% block hero %}
<div class="jumbotron rounded" id="hero">
    <div class="row h-100 w-100">
      <div
        class="col-12 col-lg-6 d-flex justify-content-center align-items-center"
      >
        <div
          class="
            bg-info
            rounded-circle
            d-flex
            justify-content-center
            align-items-center
            border border-primary border-5
            shadow-lg
          "
        >
          <h1 class="display-4 text-center">Blig Bloggit</h1>
        </div>
      </div>
      <div
        class="col-12 col-lg-6 d-flex align-items-center justify-content-center"
      >
        <div class="display-4 bg-dark text-light p-3 text-center rounded">
          Lorem, ipsum dolor.
        </div>
      </div>
    </div>
  </div>
{% endblock %}