{% block sidenav %}

<!-- SIDE NAV -->
<div class="col-12 col-lg-3 bg-secondary rounded my-3">
  <h3 class="h3 my-3">Other Articles</h3>
  <div class="row">
    <div class="col-6 col-lg-12">
      <div class="card my-3 w-auto h-90">
        <img src="http://placekitten.com/g/600/300" alt="cat" />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, similique dolorum. Laboriosam maiores odit, eligendi
            necessitatibus dolor voluptates nobis accusantium.
          </p>
          <button class="btn btn-warning btn-sm">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-12">
      <div class="card my-3 w-auto h-90">
        <img src="http://placekitten.com/g/100/100" alt="cat" />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, similique dolorum. Laboriosam maiores odit, eligendi
            necessitatibus dolor voluptates nobis accusantium.
          </p>
          <button class="btn btn-warning btn-sm">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-12">
      <div class="card my-3 w-auto">
        <img src="http://placekitten.com/g/200/200" alt="cat" />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, similique dolorum. Laboriosam maiores odit, eligendi
            necessitatibus dolor voluptates nobis accusantium.
          </p>
          <button class="btn btn-warning btn-sm">Read More</button>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-12">
      <div class="card my-3 w-auto">
        <img src="http://placekitten.com/g/200/100" alt="cat" />
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, similique dolorum. Laboriosam maiores odit, eligendi
            necessitatibus dolor voluptates nobis accusantium.
          </p>
          <button class="btn btn-warning btn-sm">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
