{% extends 'base.html' %}
{% load static %}


{% block content %}

{% for post in posts %}

<div class="card mb-4">
    
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{% static 'img/avatars/default_avt.png' %}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{post.user}}</p>
                <p class="subtitle is-6">{{post.title}}</p>
            </div>
        </div>

        <div class="content">
            {{post.body}}
            <br>
            <br>
            <hr>
            <time datetime="2016-1-1">{{post.date_created}}</time>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}