
body {
  font-family: consolas;
  text-align: center;
}

main {
  margin: 2rem;
  margin-top: 1rem;
  min-height: 75vh;
}

.tasklist-form {
  margin: 10%;
  margin-top: 5%;
  min-height: 5vh;
  border: 3px solid black;
}
.tasklist {
  text-align: start;
}
.complete {
  text-decoration: line-through;
}
.bg-black {
  background-color: black;
}
.bg-grey {
  background-color: grey;
}
.txt-white {
  color: white;
}

div {
  margin: 1rem;
}
