* {
vertical-align: baseline;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
body {
  color: white;
  background-color: black;
  font-family: 'Underdog', cursive;
}
.done {
  text-decoration: line-through;
}
nav {
  background-color: rgb(56, 7, 170);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav h1 {
  margin: 1rem;
  margin-right: 40vw;
}
nav ul {
  margin: 5px;
  display: flex;
  list-style: none;
}
.nav-link {
cursor: pointer;
  margin: 5px;
  transition: all .3s;
}
.nav-link:hover {
  background-color: black;
}
main article {
  margin: 1rem;
  margin-top: 5vh;
  background-color: rgb(56, 7, 170);
}
main article h3 {
  margin: 10px;
}
main article p {
  margin: 1rem;
  text-indent: 1rem;
  flex-wrap: wrap;
}
main sidebar {
  float: right;
  background-color: black;
}
.side-link {
  cursor: pointer;
  list-style: none;
  text-indent: 1.5rem;
  margin: 5px;
  transition: all .3s;
}
.side-link:hover {
  background-color: rgb(56, 7, 170)
}