@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Playfair+Display&display=swap');

*{
  font-family: 'Arvo', serif;
}



.complete {
    text-decoration: line-through;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

button {
  background-color: white; 
  border: none;
  color: #0d6efd;
  margin-left: 6px;
  
}

button:hover{
  transform: scale(1.5);
}

#submit {
  background-color: white; 
  border: none;
  color: #0d6efd;
}