<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/index.css">

    <title>Django Blog Project</title>

</head>

<body>
    <div class='container-md'>
        <div class='row'>
            <div class='col-6 offset-3'>
                {% for blogpost in blogposts %}
                <h2>{{ blogpost.title }}</h2>
                <div>{{blogpost.body}}</div>
                <div>--{{blogpost.user}}-- {{blogpost.date_created|date}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>