<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/lab-04.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    <title>To Do List</title>
</head>

<center>

    <body class='container-sm'>
        <div id="todo-list">
            <div>

                <input id="text" type="text" value='text'>
                <button id="create">Create To-Do Task</button>

            </div>

            <h1>To Do</h1>
            <div id="incomplete-todos"></div>

            <h1>Complete</h1>
            <div id="complete-todos"></div>

        </div>
        <script src="../static/lab-04.js">
        </script>
    </body>
</center>

</html>