body{
  background-color: rgb(20, 20, 20);
}

h1{
  text-align: center;
  font-size: 1.6rem;
}

#todo-list{
  font-family: Lato;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid white;
  margin-right:auto;
  margin-left:auto;
  width:760px;
  padding-top:50px;
  padding-left:15px;
  padding-right: 15px;
  padding-bottom:10px;
  background-color: rgb(41, 41, 41);
  color:white;
  display: flex;
  flex-direction:column;
  gap:5;
  /* reference: https://html-css-js.com/css/generator/box-shadow/ */
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -px 10px, #ff8000 0 5px 10px, red 0 18px 10px, 5px 5px 5px 5px rgba(0,0,0,0); 
  box-shadow: #FFF 0 1px 4px, #ff0 0 -2px 10px, #ff8000 0 5px 10px, red 0 8px 10px, 5px 5px 5px 5px rgba(0,0,0,0);
}
.todo-item{
  color:white;
  background-color: rgb(0, 78, 52);
  padding: 20px;
/* Display Flex to align items evenly and to a preferred direction*/
  display: flex;
/* space between evens the space between the CRUD div and the List div*/
  justify-content: space-between;
}

/* .complete to style the complete class */
.complete{
  text-decoration:line-through;
  padding-right: 8px;
}

@media (max-width: 760px) {
#todo-list{
  width:85vw;
}
}

div.todo-item{
  border-radius: 8px;
  border: 1px solid black;
}

button{
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
