{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Picster</a>
        <a href="" class='link-success'>
            <i class="far fa-plus-square large-icon"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 d-flex justify-content-end">
                <div class="d-flex gap-2">

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <img src="{% static user.avatar.url %}" height=40 width=40 alt="{{user.username}}'s avatar">
                        </a>
                    </li>
                </div>

                {% else %}
                <div class="d-flex gap-2">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </div>

            </ul>
            {% endif %}
        </div>
    </div>
</nav>