<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CUSTOM CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <title>Dad Joke API</title>
  </head>
  <body>
    <div class="container">
      <h1>Dad Joke API</h1>

      <!-- This linke makes a GET request to the url -->
      <a href="{{ url_for('display_joke') }}">
        <button>Random</button>
      </a>

      <!-- The form makes a POST request to the url with the data from the form -->
      <form action="{{ url_for('display_joke') }}" method="post">
          <input type="text" name="query">
          <button type="submit">Search</button>
      </form>

    </div>
  </body>
</html>
