* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Main title and text box/button ------------------------ */

.container0 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 174, 172);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h1 {
  position: relative;
  bottom: -15px;
  transition: all 0.7s ease-in-out;
}

h1:hover {
  transform: scale(1.3);
}

#enter {
  border-radius: 50%;
  height: 50px;
  width: 70px;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: rgb(173, 207, 238);
  border: 3px solid rgb(99, 94, 93);
  border-style: solid;
  padding: 4px;
  margin: 5px;
}

.input-group {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-bottom: 50px;
  position: relative;
  left: 25px;
}

input {
  height: 35px;
  width: 250px;
}

#enter:hover {
  background-color: rgb(15, 15, 238);
  color: white;
  border-color: white;
}

/* Main body columns and inner divs ------------------------ */

.container1 {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.pic1 {
  background-image: url("../images/todo.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  height: 100vh;
  font-weight: bolder;
  padding: 0px;
  margin-right: 2.5px;
  margin-left: 10px;
}

.pic2 {
  background-image: url("../images/done.jpg");
  background-size: 100% 100%;
  height: 100vh;
  font-weight: bolder;
  padding: 0px;
  margin-left: 2.5px;
  margin-right: 10px;
}

.usertextbox {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  opacity: 0.8;
  height: 100vh;
}

.usertext {
  width: 500px;
  margin: 5%;
  font-weight: bold;
  color: #000000;
  overflow-y: scroll;
}

/* Titles and lists in active and completed columns ------------------------ */

h2 {
  position: relative;
  right: -175px;
  bottom: 15px;
  width: fit-content;
  padding: 15px;
}

li {
  font-size: 1.1rem;
  padding: 2px;
  position: relative;
  left: -30px;
  height: 50px;
}

.completedLi {
  font-size: 3.1rem;
  padding: 2px;
  position: relative;
  left: -30px;
  height: 60px;
}

.grow {
  transform: scale(1.2);
}
