body {
	/* minor css reset */
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	/* set overall sytling */
  color: white;
  background-color: black;
  font-family: 'Underdog', cursive;
}
/* assignment details for quick reference */
assignment {
	color: grey;
}
/* header rules */
nav {
  background-color: #3807aa;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav h1 {
  margin: 1rem;
  margin-right: 70vw;
}
nav ul {
  margin: 5px;
  display: flex;
  list-style: none;
}
.nav-link {
cursor: pointer;
  margin: 5px;
  transition: all .3s;
}
.nav-link:hover {
  background-color: black;
}
/* blog content rules*/
main article {
  margin: 10rem;
  margin-top: 10vh;
  padding: 5rem;
  background-color: #3807aa;
}
main article h2 {
  margin: 10px;
  background-color: #320699;
}
main article p {
  margin: 1rem;
  padding: 20px;
  text-indent: 1rem;
  flex-wrap: wrap;
  color: lightgrey;
  font-size: 20px;
  background-color: #4100d9;
}
/* sidebar rules */
main sidebar details{
  background-color: black;
  margin-left: 10vw;
}
.side-link {
  cursor: pointer;
  list-style: none;
  text-indent: 1.5rem;
  margin: 5px;
  transition: all .3s;
}
.side-link:hover {
  background-color: #3807aa
}