#app-header{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
}

#delete-task{
    margin-top: 7px;
}

.card-content{
    font-size: xx-large;
    font-size: bolder;
}



