{% extends 'base.html' %} {% block content %}

<form action="{{ url_for('process_order') }}" method="POST" class="container">

  <div class="row bg-light">
    <div class="col-12 col-lg-6 col-offset-3 py-5">
      <img
        id="logo"
        src="{{url_for('static', filename='images/logo.png')}}"
        alt="Dos Burros Logo"
      />
    </div>
    <div class="display-1 text-center">Order Form</div>

    <!-- Radio button cards -->
    {% for radio_category in radio_categories %}
    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <div class="card my-3" style="width: 18rem">
        <h1 class="h1 bg-dark text-light p-3">{{radio_category.title()}}</h1>
        <img
          class="card-img-top"
          src="{{ url_for('static', filename=order_options[radio_category]['image_url']) }}"
          alt=""
        />
        <div class="card-body p-5">
          {%for choice in order_options[radio_category]['choices'] %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="{{radio_category}}"
              id="{{radio_category}}-radio"
              value="{{choice}}"
              
              {% if loop.index == 1 %}
              checked
              {% endif %}
            />
            <!-- the first radio in each category will be checked with the if statement above -->
            
            <label for="{{radio_category}}-radio" class="form-check-label"
              >{{choice.title()}}</label
            >
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    {% endfor %}

    <!-- CHECKBOXES -->
    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <div class="card my-3" style="width: 18rem">
        <h1 class="h1 bg-dark text-light p-3">Extra</h1>
        <div class="card-body p-5">
          {%for choice in order_options['extra']['choices'] %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="extra"
              id="extra-check"
              value="{{choice}}"
            />
            <label for="extra-check" class="form-check-label"
              >{{choice.title()}}</label
            >
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <div class="card my-3">
        <h1 class="h1 bg-dark text-light p-3">Delivery Instructions</h1>
        <div class="card-body p-3">
          <textarea name="delivery" id="delivery" cols="30" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 text-center">
      <button class="btn btn-warning btn-lg" type="submit">Place Order</button>
    </div>
  </div>
</form>

{% endblock %}
