{% extends 'base.html' %} {% block content %}

<div class="row bg-light pb-5 mb-5" id="receipt">
  <div class="col-12 col-lg-6 offset-lg-3 text-center">
    <img
      id="logo"
      src="{{url_for('static', filename='images/logo.png')}}"
      alt="Dos Burros Logo"
    />
    <div class="display-1 text-center py-5">Order Receipt</div>
  </div>
  <div class="col-12 col-lg-6 offset-lg-3">
    {% for field in receipt.keys() %}
        <h3 class="h3 mt-3">{{field.title()}}</h3>
        {% if field == 'extra' %} 
            {% for item in receipt['extra'] %}
            <div class="d-flex justify-content-between border-bottom">
                <div class="lead">{{ item.title() }}</div>
            </div>
            {% endfor %}
        {% elif field == 'delivery' %}
            <div class="d-flex justify-content-between border-bottom">
                <div class="lead">{{ receipt[field] }}</div>
            </div>
        {% else %}
            <div class="d-flex justify-content-between border-bottom">
                <div class="lead">{{ receipt[field].title() }}</div>
            </div>
        {% endif %} 
    {% endfor %} 
  </div>
</div>

{% endblock %}
