#header-1{
    text-align: center;

}

#body{

    background-image: url('naboo.jpg')
}

#bio{
    text-align: center;
    color: white;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgb(0,0,0, 0.6);
    font-family: 'Libre Franklin'
    

}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 30px;

}

#list-desc{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Libre Franklin';
    color: white;
    background-color: rgb(0,0,0, 0.6);
}

#home{
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Libre Franklin';
    list-style-image: url(Jar_Jar_SWSB.png);
    color: white;
}

#quote{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    background-color: rgb(0,0,0, 0.6);
}

#wiki{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color:#004601;
    background-color: rgb(0,0,0, 0.6);
}
