@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');


#title {
    color: rgb(46, 75, 202);
    font-size: xx-large;
    font-weight: 900;
    font-family: 'M PLUS Code Latin', sans-serif;
}

p {
    font-family: 'M PLUS Code Latin', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
    font-size:medium
}

#sidebar-header {
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
    font-size:x-large
    
}

#text {
    overflow-wrap:normal;
    font-family: 'M PLUS Code Latin', sans-serif;
    font-weight: bolder;
    color:lavender;
    text-align:center
    

    
}

.body-wrapper {
    width:fit-content;
    display: flex;
    justify-content:space-around;


}

span {

    display: table;
    margin: 0 auto;
    
}


body {

    background-image: url("star.jpg");
    background-size: cover;

}

.footer {

    color: lavender;
}