body {
    background: #f3f1f3;
    font-family: arial;
    background-image: url('y-so-serious-white.png');
    margin: 100px;
    margin-left: 230px;
    font-family: 'Merriweather', serif;
}
header { 
    font-size: 70px;
    text-decoration: underline;
    color: #DC143C;
    text-align: center;
}
/* Top Nav */
nav {
    text-align: center;    
}
nav  a:hover {
    color: red;
}
.flex-container {
    display: flex;
    background-color: #5f5656;;
  }
  
  .flex-container > div {
    background-color: grey;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

  .flex-container1 {
    display: flex;
    background-color: #4e4c4c;
  }
  
  .flex-container1 > div {
    background-color: grey;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
  }

  .flex-container2 {
    display: flex;
    background-color: #5f5656;
  }
  
  .flex-container2 > div {
    background-color: grey;
    margin: 10px;
    padding: 18px;
    font-size: 18px;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 120px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #dbdbdb;
    color: rgb(0, 0, 0);
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }