{% extends 'base.html' %} {% block content %} {% load static %}
<h1>All Todo Lists</h1>
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Todo List Name</th>
				<th scope="col">Description</th>
				<th scope="col">Owner</th>
				<th scope="col">Tasks</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for todo_list in todolists reversed %}
			<tr>
				<th class="{{ todo_list.color }}" scope="row">{{ todo_list.id }}</th>
				<td>{{ todo_list.name }}</td>
				<td>{{ todo_list.description }}</td>
				<td>{{ todo_list.owner }}</td>
				<td>
					<button class="btn btn-primary">View Tasks</button>
				</td>
				<td>
					<a
						href="{% url 'assistant:delete_todolist' todo_list.id %}"
						class="btn btn-danger"
						>Delete</a
					>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="offset-5">
	<a href="{% url 'assistant:create_todolist' %}" class="btn btn-primary"
		>Create a Todo List</a
	>
</div>

{% endblock %}
